* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background .5s ease-in-out;
}

#quote-box {
  width: 40%;
  height: 35%;
  background: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .25);
  padding: .6rem 1.5rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.fa {
  font-size: 1.5rem;
}