#text {
 font-weight: 600; 
 font-size: 1.6rem;
 flex: 2;
 padding: .5rem;
 transition: color .5s ease-in-out;
}

#author {
  align-self: flex-end;
  font-weight: 400; 
  font-size: 1rem;
  transition: color .5s ease-in-out;
}

#new-quote {
  width: 20%;
  align-self: flex-end;
  margin: 1rem 0;
  padding: .6em;
  border: 0;
  color: white;
  cursor: pointer;
  transition: background .5s ease-in-out;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: .4rem; */
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.social-links > a > * {
  transition: all .5s ease-in-out;

}

.social-links > * {
  cursor: pointer;
}

.social-links > a > *:hover {
  transform: scale(1.1);
  font-weight: 700;
}